@font-face {
	font-family: 'gridnik';
	src: url(../fonts/FoundryGridnik-Regular.otf);
}

body {
	font-family: 'gridnik';
	background: url(../img/background.png);
}

.title {
	cursor: default;
	font-size: 100px;
	color: white;
	height: 200px;
	width: 100%;
	line-height: 200px;
	text-align: center;
	background: url(../img/cooper-animation.gif) center center no-repeat;
	z-index: 5;
}

.overlay {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
}

.portfolio-container {
	width: 90%;
	margin-left: 5%;
	text-align: center;
}

.port {
	padding: 25px;
}

.web-img {
	height: 270px;
	width: 100%;
	transition: -webkit-filter 0.4s;
}

.web-img:hover {
	-webkit-filter: brightness(50%);
	transition: -webkit-filter 0.4s;
}

#sharang > a > .web-img {
	background: url(../img/sharang.png) center center no-repeat;
}

#eric > a > .web-img {
	background: url(../img/eric.png) center center no-repeat;
}

#jon > a > .web-img {
	background: url(../img/jon.png) center center no-repeat;
}

#nick > a > .web-img {
	background: url(../img/nick.png) center center no-repeat;
}

#peter > a > .web-img {
	background: url(../img/peter.png) center center no-repeat;
}

#hadar > a > .web-img {
	background: url(../img/hadar.png) center center no-repeat;
}

#julian > a > .web-img {
	background: url(../img/julian.png) center center no-repeat;
}

#polina > a > .web-img {
	background: url(../img/polina.png) center center no-repeat;
}

#fan > a > .web-img {
	background: url(../img/fan.png) center center no-repeat;
}

#kenman > a > .web-img {
	background: url(../img/kenman.png) center center no-repeat;
}

.web-title {
	text-align: center;
	font-size: 20px;
}

.footer {
	min-height: 100px;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	color: white;
	font-size: 40px;
	text-align: center;
	line-height: 100px;
}